rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public during development
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
